body{
    background-color: #184e77;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bts{
    width: 35rem;
    
    border-radius: 10rem;
    background-color: #168aad;

}